*{margin: 0; padding: 0; box-sizing: border-box}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}

/* layout */
.page {
    display: flex;
    height: 100vh;
}

.page > aside {
    width: 200px;
}

.page > main {
    flex-grow: 1;
    padding: 40px;
}

/* aside */
.page > aside {
    display: flex;
    flex-direction: column;
}
.newSong {
    padding: 20px;
    font-size: 30px;
}
.songList{
    flex-grow: 1;
    text-align: left;
    border-top: 1px solid #999;
    
}

.songList > li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.songList > li.active {
    background: #d4d4d4;
}


.uploadArea > .draggable{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px dashed #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    flex-direction: column;
}

.uploadArea > .draggable > .clickable {
    cursor: pointer;
}

/* mian */

main {
    background: #d4d4d4;
}

main > form > .song {
    font-size: 30px;
    margin-bottom: 20px;
}

main > form > .row {
    padding: 10px;
}

main > form > .row input[type='submit'] {
    border: 1px solid white;
    background: white;
    border-radius: 20%;
    padding: 5px 10px;
}